body{
    font-family: 'JetBrains Mono', monospace;
    color: #1f202b;
    margin: 0 auto;
}


.full-width {
    width: 1200px;
    margin: 0 auto;
    overflow: auto;
}

.half-width {
    width: 600px;
    float: left;
}

.third-width {
    width: 400px;
    float: left;
}

/******* HEADER *******/

header {
    height: 600px;
    background: url('../img/hero-background.png');
    background-size: cover;
    background-position: center;
}


header h1 { 
    color: #fff;
    font-family: 'JetBrains Mono', monospace;
    font-size: 20px;
    padding: 75px 20px;
}


nav {
    font-family: 'Fredoka One', cursive;
    float: right; 
    padding: 75px 0px;
}

nav ul li{
    display: inline-block;
}

nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    color:  #fff;
    padding-left: 60px; 
}

header h2 {
    width: 1000px;
    clear: both;
    font-family: 'JetBrains Mono', monospace;
    font-size: 72px;
    line-height: 80px;
    text-align: left;
    color: #9b9b9b;
    padding: 20px 0 20px 25px;
    margin: 0 100px;
}

header h2 span {
    color: #fa0075;
}

/* About CSS Code*/

#about{
    background:  #1f202b;
}

#about .full-width {
    padding: 80px 0;
}

#about h2{
    color: #FFF;
    font-family: 'Patrick Hand', cursive;
    font-size: 28px;
    padding-left: 50px;
}

#about p {
    font-size: 20px;
    color: #FFF;
    line-height: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

/* Skills CSS Code*/
#skills{
    background-color: #898ba9;
    color: #000;
    text-align: center;
}

#skills .full-width {
    padding: 115px 0;
}
 
#skills img {
    padding-bottom: 30px;
}

#skills h3 {
    font-size: 20px;
    font-family: 'Patrick Hand', cursive;
    line-height: 24px;
    width: 130px;
    margin: 0 auto;
}
 
#skills p {
    font-family: 'JetBrains Mono', monospace;
    font-size: 16px;
    line-height: 24px;
    padding: 0 50px;
}

/************ANDROID APP DISPLAY***************/

#android-apps{
    background-color: #898ba9;
    color: #000;
}

#android-apps .full-width{
    padding: 50px 0;
}

#android-apps h2{
    font-family: 'Patrick Hand', cursive;
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: underline;
}

#android-apps .app_icon{
    border-bottom: #2b2b2b solid 2px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

#android-apps p{
    margin-right: 25px;
    line-height: 30px;
}


/* FOOTER CSS Code */

#contact {
    background-color: #1f202b;
    color: #FFF;
}

#contact .full-width {
    padding: 110px 0;
}

#contact h2, #contact #email-header, #contact #socialmedia-header, #contact ul {
    padding-left: 115px;
}

#contact #envelope {
    padding: 0 10px 0 115px;
}

#contact h2 {
    font-family: 'JetBrains Mono', monospace;
    font-size: 28px;
    line-height: 44px;
}


/*Lets meet up for some coffee*/

#contact #email-header{
    font-size: 24px;
    font-weight: 100;
    line-height: 44px;
    margin: -30px 0 5px 0;
}

#contact #socialmedia-header {
    font-weight: 900;
    font-size: 28px;
    line-height: 44px;
    margin: 40px 0 0 0;
}

#contact a {
    text-decoration: none;
    color: #fa0075;
    font-weight: 700;
    font-size: 24px;
}

#contact ul {
    list-style: none;
}

#contact ul li {
     display: inline-block;
}

#contact ul img {
    padding-right: 48px;
}